CascaronPrograIV/CascaronPrograIV/Connected Services/WCFSolicitud/Solicitud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Solicitud" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64695/Solicitud.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64695/Solicitud.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64695/Solicitud.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import schemaLocation="http://localhost:64695/Solicitud.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitud_GuardarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitud_GuardarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitud_ListarSolicitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitudes" />
  </wsdl:message>
  <wsdl:message name="ISolicitud_ListarSolicitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitudesResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitud_ObtenerListaSolicitudesFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaSolicitudesFuncionario" />
  </wsdl:message>
  <wsdl:message name="ISolicitud_ObtenerListaSolicitudesFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaSolicitudesFuncionarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitud">
    <wsdl:operation name="GuardarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitud/GuardarSolicitud" message="tns:ISolicitud_GuardarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitud/GuardarSolicitudResponse" message="tns:ISolicitud_GuardarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitud/ListarSolicitudes" message="tns:ISolicitud_ListarSolicitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitud/ListarSolicitudesResponse" message="tns:ISolicitud_ListarSolicitudes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaSolicitudesFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitud/ObtenerListaSolicitudesFuncionario" message="tns:ISolicitud_ObtenerListaSolicitudesFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitud/ObtenerListaSolicitudesFuncionarioResponse" message="tns:ISolicitud_ObtenerListaSolicitudesFuncionario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitud" type="tns:ISolicitud">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitud/GuardarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitudes">
      <soap:operation soapAction="http://tempuri.org/ISolicitud/ListarSolicitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaSolicitudesFuncionario">
      <soap:operation soapAction="http://tempuri.org/ISolicitud/ObtenerListaSolicitudesFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Solicitud">
    <wsdl:port name="BasicHttpBinding_ISolicitud" binding="tns:BasicHttpBinding_ISolicitud">
      <soap:address location="http://localhost:64695/Solicitud.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>