CascaronPrograIV/CascaronPrograIV/Connected Services/WCFServicio/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarRol" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarRolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesion" />
  </wsdl:message>
  <wsdl:message name="IService1_InicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaLiquidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaLiquidacion" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaLiquidacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaLiquidacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaOrden" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaSolicitud" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GenerarOrdenViaticos_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarOrdenViaticos" />
  </wsdl:message>
  <wsdl:message name="IService1_GenerarOrdenViaticos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarOrdenViaticosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrden" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarOrdenes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrdenes" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarOrdenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrdenesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerOrdenes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrdenes" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerOrdenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrdenesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarOrdenViaticos_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarOrdenViaticos" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarOrdenViaticos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarOrdenViaticosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRoles" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstados" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerMODTARIFASVIATICOS_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMODTARIFASVIATICOS" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerMODTARIFASVIATICOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMODTARIFASVIATICOSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarMODTARIFASVIATICOS_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMODTARIFASVIATICOS" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarMODTARIFASVIATICOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMODTARIFASVIATICOSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerIDS_CANTON_PROVINCIA_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIDS_CANTON_PROVINCIA" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerIDS_CANTON_PROVINCIA_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIDS_CANTON_PROVINCIAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerTARIFASAUTOBUSES_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTARIFASAUTOBUSES" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerTARIFASAUTOBUSES_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTARIFASAUTOBUSESResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarTarifaAutobusXId_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTarifaAutobusXId" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarTarifaAutobusXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTarifaAutobusXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarTarifaAutobus_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTarifaAutobus" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarTarifaAutobus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTarifaAutobusResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarRol" message="tns:IService1_InsertarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarRolResponse" message="tns:IService1_InsertarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarPersona" message="tns:IService1_InsertarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarPersonaResponse" message="tns:IService1_InsertarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarUsuario" message="tns:IService1_InsertarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarUsuarioResponse" message="tns:IService1_InsertarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InicioSesion" message="tns:IService1_InicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InicioSesionResponse" message="tns:IService1_InicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaLiquidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaLiquidacion" message="tns:IService1_ObtenerListaLiquidacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaLiquidacionResponse" message="tns:IService1_ObtenerListaLiquidacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaOrden" message="tns:IService1_ObtenerListaOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaOrdenResponse" message="tns:IService1_ObtenerListaOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaSolicitud" message="tns:IService1_ObtenerListaSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaSolicitudResponse" message="tns:IService1_ObtenerListaSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarOrdenViaticos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GenerarOrdenViaticos" message="tns:IService1_GenerarOrdenViaticos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GenerarOrdenViaticosResponse" message="tns:IService1_GenerarOrdenViaticos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerOrden" message="tns:IService1_ObtenerOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerOrdenResponse" message="tns:IService1_ObtenerOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarOrdenes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarOrdenes" message="tns:IService1_ListarOrdenes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarOrdenesResponse" message="tns:IService1_ListarOrdenes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrdenes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerOrdenes" message="tns:IService1_ObtenerOrdenes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerOrdenesResponse" message="tns:IService1_ObtenerOrdenes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarOrdenViaticos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarOrdenViaticos" message="tns:IService1_ActualizarOrdenViaticos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarOrdenViaticosResponse" message="tns:IService1_ActualizarOrdenViaticos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerRoles" message="tns:IService1_ObtenerRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerRolesResponse" message="tns:IService1_ObtenerRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerEstados" message="tns:IService1_ObtenerEstados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerEstadosResponse" message="tns:IService1_ObtenerEstados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMODTARIFASVIATICOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerMODTARIFASVIATICOS" message="tns:IService1_ObtenerMODTARIFASVIATICOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerMODTARIFASVIATICOSResponse" message="tns:IService1_ObtenerMODTARIFASVIATICOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarMODTARIFASVIATICOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarMODTARIFASVIATICOS" message="tns:IService1_ActualizarMODTARIFASVIATICOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarMODTARIFASVIATICOSResponse" message="tns:IService1_ActualizarMODTARIFASVIATICOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIDS_CANTON_PROVINCIA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerIDS_CANTON_PROVINCIA" message="tns:IService1_ObtenerIDS_CANTON_PROVINCIA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerIDS_CANTON_PROVINCIAResponse" message="tns:IService1_ObtenerIDS_CANTON_PROVINCIA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTARIFASAUTOBUSES">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerTARIFASAUTOBUSES" message="tns:IService1_ObtenerTARIFASAUTOBUSES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerTARIFASAUTOBUSESResponse" message="tns:IService1_ObtenerTARIFASAUTOBUSES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTarifaAutobusXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarTarifaAutobusXId" message="tns:IService1_BuscarTarifaAutobusXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarTarifaAutobusXIdResponse" message="tns:IService1_BuscarTarifaAutobusXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTarifaAutobus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarTarifaAutobus" message="tns:IService1_ActualizarTarifaAutobus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarTarifaAutobusResponse" message="tns:IService1_ActualizarTarifaAutobus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarRol">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioSesion">
      <soap:operation soapAction="http://tempuri.org/IService1/InicioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaLiquidacion">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaLiquidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaOrden">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaSolicitud">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarOrdenViaticos">
      <soap:operation soapAction="http://tempuri.org/IService1/GenerarOrdenViaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrden">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarOrdenes">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarOrdenes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrdenes">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerOrdenes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarOrdenViaticos">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarOrdenViaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRoles">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstados">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMODTARIFASVIATICOS">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerMODTARIFASVIATICOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarMODTARIFASVIATICOS">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarMODTARIFASVIATICOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIDS_CANTON_PROVINCIA">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerIDS_CANTON_PROVINCIA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTARIFASAUTOBUSES">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerTARIFASAUTOBUSES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTarifaAutobusXId">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarTarifaAutobusXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTarifaAutobus">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarTarifaAutobus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64695/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>