CascaronPrograIV/CascaronPrograIV/Connected Services/WCFServicio/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="InsertarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q1:TBL_ROLUSUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q2:TBL_PERSONA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q3:TBL_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InicioSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q4:TBL_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InicioSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="InicioSesionResult" nillable="true" type="q5:SP_INICIO_SESION_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaLiquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q6:ReporteXFecha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaLiquidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerListaLiquidacionResult" nillable="true" type="q7:ArrayOfSP_LISTADO_LIQUIDACION_VIATICOS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q8:ReporteXFecha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerListaOrdenResult" nillable="true" type="q9:ArrayOfSP_LISTADO_ORDEN_VIATICOS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q10:ReporteXFecha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerListaSolicitudResult" nillable="true" type="q11:ArrayOfSP_LISTADO_SOLICITUD_VIATICOS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q12:TBL_CABECERAORDENVIATICO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarOrdenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q13:OrdenDeViaticos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerOrdenResult" nillable="true" type="q14:ArrayOfSP_OBTENER_ORDEN_VIATICOS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerRolesResult" nillable="true" type="q15:ArrayOfTBL_ROLUSUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerEstadosResult" nillable="true" type="q16:ArrayOfTBL_ESTADOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMODTARIFASVIATICOS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMODTARIFASVIATICOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerMODTARIFASVIATICOSResult" nillable="true" type="q17:ArrayOfSP_LISTAR_MODTARIFAVIATICO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMODTARIFASVIATICOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q18:SP_LISTAR_MODTARIFAVIATICO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMODTARIFASVIATICOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMODTARIFASVIATICOSResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIDS_CANTON_PROVINCIA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obj" nillable="true" type="q19:IdCantonIdProvincia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIDS_CANTON_PROVINCIAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ObtenerIDS_CANTON_PROVINCIAResult" nillable="true" type="q20:ArrayOfSP_OBTENER_CANTON_PROVINCIA_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>