CascaronPrograIV/CascaronPrograIV/Connected Services/WCFServicio/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarRol" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarRolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesion" />
  </wsdl:message>
  <wsdl:message name="IService1_InicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaLiquidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaLiquidacion" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaLiquidacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaLiquidacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaOrden" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaSolicitud" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRoles" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstados" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarRol" message="tns:IService1_InsertarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarRolResponse" message="tns:IService1_InsertarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarPersona" message="tns:IService1_InsertarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarPersonaResponse" message="tns:IService1_InsertarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarUsuario" message="tns:IService1_InsertarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarUsuarioResponse" message="tns:IService1_InsertarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InicioSesion" message="tns:IService1_InicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InicioSesionResponse" message="tns:IService1_InicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaLiquidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaLiquidacion" message="tns:IService1_ObtenerListaLiquidacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaLiquidacionResponse" message="tns:IService1_ObtenerListaLiquidacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaOrden" message="tns:IService1_ObtenerListaOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaOrdenResponse" message="tns:IService1_ObtenerListaOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaSolicitud" message="tns:IService1_ObtenerListaSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaSolicitudResponse" message="tns:IService1_ObtenerListaSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerRoles" message="tns:IService1_ObtenerRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerRolesResponse" message="tns:IService1_ObtenerRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerEstados" message="tns:IService1_ObtenerEstados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerEstadosResponse" message="tns:IService1_ObtenerEstados_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarRol">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioSesion">
      <soap:operation soapAction="http://tempuri.org/IService1/InicioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaLiquidacion">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaLiquidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaOrden">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaSolicitud">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRoles">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstados">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64695/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>